@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
/* Intel©  Color scheme: #0071c5, #0c7cd5, #0f9ae0 | #0068b5, #0071c5, FFFFFF, 000000 */


/* Global Styles */
.root {
    --Copyright-Symbol: "\00A9";
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
  scroll-margin-top: 10vh;
}

body {
    background-color: black;
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    color: whitesomoke;
    margin-top: 10vh;
}

h1, h2, h3, h4, h5, h6, p, a, span {
    cursor:text;
}

/* Heading Styles */

.Nav-Bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;

  display: inline-flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px 30px;
  background-color:rgb(35, 35, 35);
  backdrop-filter: blur(50px);     /* glass effect */
  z-index: 9999;  
}

.Logo {
    font-size: 200px;
    color: #0071c5;
}

.Nav-Link {
    font-size: large;
    display: inline-flexbox;
    list-style: none;
    padding-right: 50px;

}


/* Hero Section */
.hero {
    display:block;
    height: 75vh;
    width: 100vw;
    background-image: url(Resource/Img/CPU/CPU_2.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;

}



/* Utility Classes */
.colorful-text {
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
   background-image: linear-gradient(90deg, rgb(16, 155, 254) 0%, rgb(16, 155, 254) 50%, rgb(16, 155, 254) 100%, rgb(201, 201, 201) 150%);
}
.animated-colorful-text {
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
   background-image: linear-gradient(90deg, rgb(16, 155, 254) 0%, rgb(16, 155, 254) 50%, rgb(201, 201, 201) 100%);
    background-size: 800% 800%;
   animation: gradientAnimation 30s ease infinite;
}

.Animating-Colorful-Text-Hero {
    font-size: 100px;
    padding-top: 15px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
   background-image: linear-gradient(90deg, #0071c5 0%, #0068b5 25%, rgb(131, 14, 228) 75%, rgb(255, 255, 255) 100%);
    background-size: 800% 800%;
   animation: gradientAnimation 30s ease infinite;
}

@keyframes gradientAnimation {
   0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


/* Specific Styles */


/* Content Section */
.content {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    padding-top: 100px;
}

.card {
    cursor: pointer;
    width: 30vw;
    height: 250px;
    background-color: #1a1a1a;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.fadding-text {
    background: linear-gradient(to right, whitesmoke 0%, whitesmoke 10%, transparent 30%, transparent 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.4s ease;
}

/* Hover Effects */

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    .fadding-text {
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: whitesmoke;

    }
}

/* test */
 video {
    height: 100vh;
    width: 100vw;
    z-index: -9999;  
 }
